{% include 'base.html' %}
{% block content %}
{% load static %}

<section class =  "p-lg-0 pt-lg-3 mb-5 py-3">
	<div class = "container">
		<div class="p-3 pb-4 shadow bg-light mt-2">
	        <h6 style="font-size: 23px;">Search Recip</h6>
	        <form method="post" action="search">
	        	{% csrf_token %}
	            <div class="d-flex">
	                <input name="recipe_1" type="text" class="form-control" placeholder="e.g Pasta">
	                <button type="submit" class="ms-3 btn btn-primary">Search</button>
	            </div>
        	</form>
        </div>
	</div>

	    <div class="search-result">
			<div class = "d-flex flex-wrap align-item-center justify-content-center">
			    {% for k in finalRandomRecipeList %}
				<div class="card" style="width: 30rem;margin-top:50px">
				    <img class = "d-flex align-item-center justify-content-center"src="{{k.1}}" alt="Image">
				    <a class = "dish-name" href="recipe/{{k.0}}">
				        <h6>{{k.2}}</h6>
			        </a>
		    	</div>
		    	{%endfor%}
	  		</div>
		</div>
</section>
<section class= "text-center bg-light p-5">
  	<footer>
	    <h6> Designed & Built by Kartik Abuj</h6>
	</footer>
</section>


{% endblock %}