{% include 'base.html' %}
{% block content %}
{% load static %}

<section class =  "p-lg-0 pt-lg-5 mb-5 py-3">
  {% firstof none_variable%}
  {% if none_variable %}
    <h1>Not Found</h1>
    
  {% else %}
  	<div class="container">
    <div class="header mt-0">
      <div class="text-center">
        <img class="header-image" src="{{image}}" alt="{{title}}">
      </div>
      <div class="d-flex justify-content-between mt-4">
        <h2><b>{{title}}</b></h2>
      </div>

      <div>
        <p class="mb-0">Ready in <b>45 Minutes.</b></p>
        <p><b> Servings : </b> 4</p>
      </div>

      <div class="badges mb-3">

        {% if vegetarian %}
          <span class="badge bg-sucess">Vegetatian</span>
        {% else %}
          <span class="badge bg-danger">Non Vegetarian</span>
        {% endif %}

        {% if veryHealthy %}
          <span class="badge bg-success">Healthy</span>
        {% endif %}
      </div>
    </div>

    <div class="main">
      <section>
        <h3>Ingredients</h3>
        <div>
          <table class="table table-light">
            <tbody>

              {% for i in finalIngList %}
              <tr class="mt-2">
                <td class="col border-end text-center"><img class="ingredient-image" src="https://spoonacular.com/cdn/ingredients_100x100/{{i.0}}" alt="flour"></td>
                <td class="col">{{i.1}}</td>
              </tr>
              {% endfor %}
               
            </tbody>
          </table>
        </div>
      </section>
      <section class="instructions mt-5">
        <h3>Instructions</h3>
        <ol>  
          {% for m in ingInstructionList %}
          <li class="mb-3">{{m}}</li>
          {% endfor %}

        
        </ol>
        
      </section>
    </div>
  </div>
  </section>
    {% endif %}

{% endblock %}
